# Core Web Framework & Server
fastapi==0.110.0
uvicorn[standard]==0.28.0
python-multipart

# Database (ORM & Driver)
SQLAlchemy>=2.0.30
psycopg2-binary>=2.9.10

# Validasi Data & Konfigurasi Lingkungan
pydantic>=2.7.0
pydantic-settings>=2.2.0
python-dotenv==1.0.1

# Autentikasi & Keamanan (JWT)
PyJWT==2.8.0
pwdlib[bcrypt]==0.2.0
requests>=2.31.0

# requests sudah termasuk sebagai dependency google-api-core, tidak perlu install ulang

# Generator PDF & Template
weasyprint==61.2
Jinja2==3.1.3
